@using LibraryBooks.Dependencies
@using LibraryBooks.Entities;
@using LibraryBooks.PL.WebPages.Models;

@{
    Layout = "~/Pages/Layout/_BasicLayout.cshtml";

    var usersBll = DependencyResolver.Instance.UserInfoLogic;
    var accountBll = DependencyResolver.Instance.AccountLogic;
    var usersAndBooks = DependencyResolver.Instance.UsersAndBooksLogic;
    

    var user = usersBll.GetById(int.Parse(Request["id"]));
    var books = usersAndBooks.GetBooksByUserId(user.UserId).ToList();

    PageData["Title"] = "User Deteils";

    if (!(User.IsInRole("admin") || accountBll.GetAuthDataByLogin(User.Identity.Name).Id == user.UserId))
    {
        Response.Redirect("/");
    }
}


<h3>
    Читательский : @user.FullName
</h3>


<div class="card" style="width: 300px;">
    <div class="card-body">
        <p class="card-text">
            Age : @user.Age
        </p>
        <p class="card-text">
            DateOfBirth : @user.DateOfBirth.ToString("D")
        </p>
        <p class="card-text">
            PhoneNumber : @user.Phone
        </p>
        <a class="btn btn-primary" href="~/Pages/User/Edit?id=@(user.UserId)">Edit</a>
        <h5>
            List Books
        </h5>
        <a class="btn btn-primary" href="~/Pages/User/GiveBook?id=@(user.UserId)">GiveBook</a>

        @if (books.Count > 0)
        {

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int index = 0;
                        foreach (var book in books)
                        {
                            index++;
                            <tr>
                                <th scope="row">@index</th>
                                <td>@book.Title</td>
                                <td>@book.AuthorFullName</td>
                                <td>
                                    @if (User.IsInRole("admin"))
                                    {
                                        <a class="btn btn-primary returnBook" href="~/Pages/ReturnBookByUser?idBook=@(book.Id)&idUser=@(user.UserId)">ReturnBook</a>
                                    }

                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
        else
        {
            <p class="card-text">
                List is Clear!!!
            </p>
        }
    </div>
</div>


<script>
    $('.returnBook').click(function (event) {

            let value = event.target.getAttribute('href');

            let isDelete = confirm("Точно хотите вернуть книгу ?");
        if (isDelete) {
            location.href = value;
        }
        });
</script>