@using LibraryBooks.Dependencies
@using LibraryBooks.Entities

@{
    Layout = "~/Pages/Layout/_BasicLayout.cshtml";

    var usersAndBooksBll = DependencyResolver.Instance.UsersAndBooksLogic;
    var bookBLL = DependencyResolver.Instance.BookLogic;

    var book = bookBLL.GetById(int.Parse(Request["id"]));
    var users = usersAndBooksBll.GetUsersUnAvailableByBookId(book.Id).ToList();

    PageData["Title"] = "GiveBookToUser";

    if (!User.IsInRole("admin"))
    {
        Response.Redirect("~/");
    }
}
<h3>Выдать читателю книгу : @book.Title автора: @book.AuthorFullName</h3>
<a href="~/Pages/Book/Details?id=@book.Id" class="btn btn-primary">Back</a>

@if (IsPost)
{
    try
    {
        var idUser = Request["gridRadios"];
        usersAndBooksBll.GiveBookToUser(
            bookId: book.Id,
            userId: int.Parse(idUser));
        @RenderPage("~/Partial/_Succes.cshtml", new { info = $"Книга \"{book.Title}\" от Автора \"{book.AuthorFullName}\" выдана читателю!!!" })

    }
    catch (Exception ex)
    {
        @RenderPage("~/Partial/_Error.cshtml", new { info = $"Книга \"{book.Title}\" от Автора \"{book.AuthorFullName}\" не выдана читателю!!!", exception = ex.Message })
    }

}
else
{
    if (users.Count > 0)
    {
        <form method="post">
            <fieldset class="row mb-3">
                <legend class="col-form-label col-sm-2 pt-0">Awards</legend>
                <div class="col-sm-10">
                    @{
                        int index = 0;
                        foreach (var item in users)
                        {
                            index++;
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios@index" value="@item.UserId" checked>
                                <label class="form-check-label" for="gridRadios@index">
                                    @string.Format($"ShortFullName : {item.ShortFullName}; Phone : {item.Phone}")
                                </label>
                            </div>
                        }
                    }
                </div>
            </fieldset>
            <button type="submit" class="btn btn-primary">Turn</button>
        </form>
    }
    else
    {
        <h5>
            Данная книга имеется у всех читателей!!!
        </h5>
    }
}