@using LibraryBooks.Dependencies
@using LibraryBooks.Entities;

@{
    Layout = "~/Pages/Layout/_BasicLayout.cshtml";

    var usersAndBooks = DependencyResolver.Instance.UsersAndBooksLogic;
    var userInfoBll = DependencyResolver.Instance.UserInfoLogic;
    var users = userInfoBll.GetAll();

    PageData["Title"] = "Users";

    if(!User.IsInRole("admin"))
    {
        Response.Redirect("/");
    }
}
<h3>
    Список читателей
</h3>

@{
    <table class="table table-striped" style="display:inline-block">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ShortFullName</th>
                <th scope="col">Age</th>
                <th scope="col">DateOfBirth</th>
                <th scope="col">PhoneNumber</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @{
                int index = 0;
                foreach (var user in users)
                {
                    index++;
                        <tr>
                            <th scope="row">@index</th>
                            <td>@user.ShortFullName</td>
                            <td>@user.Age</td>
                            <td>@user.DateOfBirth.ToString("D")</td>
                            <td>@user.Phone</td>
                            <td>
                                <a href="~/Pages/User/Details?id=@(user.UserId)" class="btn btn-primary">Details</a>
                                @if (User.IsInRole("admin") && !usersAndBooks.ExistByUserId(user.UserId))
                                {
                                    <a href="~/Pages/User/Delete?id=@(user.UserId)" class="btn btn-danger deleteUser">Delete</a>
                                }
                            </td>

                        </tr>
                }
            }
        </tbody>
    </table>
}


<script>
    $('.deleteUser').click(function (event) {
        let value = event.target.getAttribute('href');
        let isDelete = confirm("Точно хотите удалить ?");
        if (isDelete) {
            location.href = value;
        }
    });
</script>